[submodule "third-party/Processlib"]
	path = third-party/Processlib
	url = git://github.com/soleil-ica/Processlib.git
[submodule "camera/basler"]
	path = camera/basler
	url = git://github.com/soleil-ica/Lima-camera-basler
[submodule "camera/pco"]
	path = camera/pco
	url = git://github.com/soleil-ica/Lima-camera-pco
[submodule "camera/pilatus"]
	path = camera/pilatus
	url = git://github.com/soleil-ica/Lima-camera-pilatus
[submodule "camera/maxipix"]
	path = camera/maxipix
	url = git://github.com/soleil-ica/Lima-camera-maxipix
[submodule "camera/common/espia"]
	path = camera/common/espia
	url = git://github.com/soleil-ica/Lima-camera-common-espia
[submodule "camera/prosilica"]
	path = camera/prosilica
	url = git://github.com/soleil-ica/Lima-camera-prosilica
[submodule "camera/xpad"]
	path = camera/xpad
	url = git://github.com/soleil-ica/Lima-camera-xpad
[submodule "camera/marccd"]
	path = camera/marccd
	url = git://github.com/soleil-ica/Lima-camera-marccd
[submodule "camera/roperscientific"]
	path = camera/roperscientific
	url = git://github.com/soleil-ica/Lima-camera-roperscientific
[submodule "camera/perkinelmer"]
	path = camera/perkinelmer
	url = git://github.com/soleil-ica/Lima-camera-perkinelmer
[submodule "camera/andor"]
	path = camera/andor
	url = git://github.com/soleil-ica/Lima-camera-andor
[submodule "camera/imxpad"]
	path = camera/imxpad
	url = git://github.com/soleil-ica/Lima-camera-imxpad
[submodule "camera/hamamatsu"]
	path = camera/hamamatsu
	url = git://github.com/soleil-ica/Lima-camera-hamamatsu.git
[submodule "camera/uview"]
	path = camera/uview
	url = git://github.com/soleil-ica/Lima-camera-uview.git
[submodule "camera/merlin"]
	path = camera/merlin
	url = git://github.com/soleil-ica/Lima-camera-merlin
[submodule "camera/eiger"]
	path = camera/eiger
	url = git://github.com/soleil-ica/Lima-camera-eiger
[submodule "applications/tango/cpp"]
	path = applications/tango/cpp
	url = git://github.com/soleil-ica/Lima-tango-cpp
[submodule "camera/slsjungfrau"]
	path = camera/slsjungfrau
	url = git://github.com/soleil-ica/Lima-camera-slsjungfrau.git
[submodule "camera/lambda"]
	path = camera/lambda
	url = git://github.com/soleil-ica/Lima-camera-lambda.git
[submodule "camera/ufxc"]
	path = camera/ufxc
	url = git://github.com/soleil-ica/Lima-camera-ufxc.git
[submodule "camera/dhyana"]
	path = camera/dhyana
	url = git://github.com/soleil-ica/Lima-camera-dhyana.git
[submodule "camera/xspress3"]
	path = camera/xspress3
	url = git://github.com/soleil-ica/Lima-camera-xspress3.git
[submodule "camera/slseiger"]
	path = camera/slseiger
	url = git://github.com/soleil-ica/Lima-camera-slseiger.git
[submodule "camera/spectrumoneccd"]
	path = camera/spectrumoneccd
	url = git@github.com:soleil-ica/Lima-camera-spectrumoneccd.git
[submodule "camera/spectralinstrument"]
	path = camera/spectralinstrument
	url = git@github.com:soleil-ica/Lima-camera-spectralinstrument.git
